# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [2]:
string = "toto"
number = 10

### Convert `string` to unicode and `number` to float.

In [3]:
str(string)
float(number)

10.0

### Reverse the contents of the variables `string` and `number` (from line 1).

In [4]:
copy = string
string = number
number = copy

10
toto

## b) List

s### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [5]:
first_list = [1,3,2,7,4,10,46]


### Display the first 3 items in `first_list` - in one line of code.

In [6]:
print(first_list[0:4])

[1, 3, 2, 7]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [7]:
second_list = first_list[2:5]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [8]:
third_list = first_list + second_list

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [9]:
tuple_of_lists = zip(first_list, second_list)

### Add the number 5 to `first_list`.

In [10]:
first_list.append(5)

### Add a null element to `third_list`.

In [11]:
third_list.append(None)

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [12]:
# Example : my_list=[1,2,3], n=2 --> [1,2,3,1,2,3]
def concat_list(my_list, n):
    return my_list * n

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [13]:
def concat_list(my_list, n=2):
    return my_list * n

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [14]:
i = 0
while i < len(third_list):
    print(third_list[i])
    i+=1

1
3
2
7
4
10
46
2
7
4
None

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [15]:
total = 0
for element in first_list:
    if element % 2 == 0:
        total += 1

### Rewrite the following expression with a multi-line `for` loop.

In [ ]:
even_numbers = [element for element in first_list if element % 2 == 0]

In [17]:
even_numbers = []
for element in first_list:
    if element % 2 == 0:
        even_numbers.append(element)

### Create a function that takes a string as input and returns the first single letter of the string

In [19]:
def first_letter(string):
    return string[0]

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [25]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

### Access the `year` value.

In [26]:
car["year"]

1964

###  Use a loop to display all the dictionary keys.

In [29]:
for key in car:
    print(key)

brand
model
year

###  Use a loop to display all the dictionary values.

In [30]:
for value in car:
    print(car[value])

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [72]:
for index, (x,y) in enumerate(car.items()):
    print(index,x,y)

0 brand Ford
1 model Mustang
2 year 1964

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

In [75]:
cars = {key: car for key in ["cle_1", "cle_2", "cle_3"]}

n## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [9]:
def fibonacci(num):
    num_list = [0, 1]
    while num_list[-1] < num:
        num_list.append(num_list[-1] + num_list[-2])
    return num_list

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

In [46]:
fibonacci(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### Create the same function using a generator
Ex : `generate_fibonacci(10) `

In [45]:
def generate_fibonacci(num):
    a,b = 0,1
    while a <= num:
        yield a
        a, b = b, a + b
    yield a